:root {
  
  /* Colors */

  --brand-color-primary: #146ee6;
  --brand-color-secondary: #333;
  --brand-color-tertiary: #00bbce;

  --color-primary: var(--brand-color-primary);
  --color-secondary: var(--brand-color-secondary);
  --color-tertiary: var(--brand-color-tertiary);
  
  --color-successs: #20AF2E;
  --color-success-light: rgba(32, 175, 46, 0.2);
  --color-warning: #E5A90C;
  --color-danger: #EB3428;

  --color-bg-success: #4C9878;
  --color-bg-success-light: #bce307;
  --color-bg-warning: #DBAD34;
  --color-bg-danger: #e6786C;
  --color-bg-neutral: #E8EAED;

  --color-border-primary: #d0d0d0;
  --color-border-1: rgba(0, 0, 0, 0.125);
  --color-border-2: rgba(0, 0, 0, 0.25);
  --color-border-3: rgba(0, 0, 0, 0.35);

  --color-text-primary: #333;
  --color-text-secondary: #666;
  --color-text-light: #767676;
  --color-text-alternate: #fff;
  /* this is a slightly darker tone of brand blue to meet a11y standards */
  --color-text-highlight: #0C66DE;

  --color-text-success: #28a745;
  --color-text-info: #107177;
  --color-text-warning: var(--color-bg-warning);
  --color-text-danger: var(--color-bg-danger);

  /* Spacing */
	--spacing-1: 0.25rem; /* 4px */
	--spacing-2: 0.375rem; /* 6px */
	--spacing-3: 0.5rem; /* 8px */
  --spacing-4: 0.625rem; /* 10px */
	--spacing-5: 0.75rem; /* 12px */
  --spacing-6: 0.875rem; /* 14px */
	--spacing-7: 1rem; /* 16px */
	--spacing-8: 1.25rem; /* 20px */
	--spacing-9: 1.5rem; /* 24px */
	--spacing-10: 2rem; /* 32px */
	--spacing-11: 2.5rem; /* 40px */
	--spacing-12: 3rem; /* 48px */
	--spacing-13: 3.5rem; /* 56px */
	--spacing-14: 4rem; /* 64px */
	--spacing-15: 4.5rem; /* 72px */
	--spacing-16: 5rem; /* 80px */
	--spacing-17: 6rem; /* 96px */

  /* Typography */
  --font-size-1: 0.5rem; /* 8px */
  --font-size-2: 0.625rem; /* 10px */
  --font-size-3: 0.675rem; /* IS this actually needed? */
  --font-size-4: 0.75rem; /* 12px */
  --font-size-5: 0.875rem; /* 14px */
  --font-size-6: 1rem; /* 16px */
  --font-size-7: 1.125rem; /* 18px */
  --font-size-8: 2rem; /* 32px */
  --font-size-9: 4rem; /* 64px */

  --font-weight-light: 300;
  --font-weight-regular: 400; /* Normal */
  --font-weight-medium: 500;
  --font-weight-semibold: 600; 
  --font-weight-bold: 700;    /* Bold */

  --font-family-primary: 'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --font-family-code: 'RobotoMono',
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;

    /* Borders */

    --border-primary-thin: 1px solid var(--color-border-primary);
    --border-1-thin: 1px solid var(--color-border-1);
    --border-2-thin: 1px solid var(--color-border-2);
    --border-3-thin: 1px solid var(--color-border-3);
    --border-highlight-thin: 1px solid var(--color-text-highlight);

    --border-primary-medium: 2px solid var(--color-border-primary);
    --border-1-medium: 2px solid var(--color-border-1);
    --border-2-medium: 2px solid var(--color-border-2);
    --border-3-medium: 2px solid var(--color-border-3);

    /* Layout */

    --layout-max-width: '160rem'; /* 2560px */
    --layout-application-bar-height: '7rem'; /* 112px */
    --layout-application-bar-logo-height: '1.5rem'; /* 24px */
    --layout-page-padding-x: var(--spacing-9);
    --layout-page-padding-y: var(--spacing-10);

    --layout-breakpoint-sm: '80rem'; /* 1280px */

    /* Components */

    /* Sidebar */
    --sidebar-width-md: '14rem';
    --sidebar-width-sm: '12rem';

    /* Notifications */
    --notification-success-bg: var(--color-bg-success);
    --notification-success-text-color: var(--color-text-alternate);
    --notification-info-bg: var(--color-bg-primary);
    --notification-info-text-color: var(--color-text-alternate);
    --notification-warning-bg: var(--color-bg-warning);
    --notification-warning-text-color: var(--color-text-alternate);
    --notification-danger-bg: var(--color-bg-danger);
    --notification-danger-text-color: var(--color-text-alternate);
    --notification-default-bg: var(--color-border-primary);
    --notification-default-text-color: var(--color-text-secondary);

    /* Buttons */

    --button-default-text-color: var(--color-text-secondary);
    --button-default-bg: 'transparent';
    --button-default-border: '1px solid var(--color-border-primary)';
    --button-default-active-text-color: var(--color-text-primary);
    --button-default-active-bg: var(--color-bg-neutral);

    --button-textonly-text-color: var(--color-text-primary);
    --button-textonly-bg: 'transparent';
    --button-textonly-border: 'none';
    --button-textonly-active-text-color: var(--color-text-primary);
    --button-textonly-active-bg: var(--color-bg-neutral);

    --button-highlighttext-text-color: var(--color-text-highlight);
    --button-highlighttext-bg: 'transparent';
    --button-highlighttext-border: var(--border-highlight-thin);
    --button-highlighttext-active-text-color: var(--color-text-highlight);
    --button-highlighttext-active-bg: var(--color-bg-neutral);

    /* Spinner */

    --spinner-default-size: '20px';
    --spinner-default-border-width: '2px';
    --spinner-sm-size: '20px';
    --spinner-sm-border-width: '2px';
    --spinner-md-size: '32px';
    --spinner-md-border-width: '4px';
    --spinner-lg-size: '64px';
    --spinner-lg-border-width: '6px';
    --spinner-color: var(--color-primary);
}